
body{
  font-family: monospace;
  background: #d3d3d3;
}
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #bbb;
  font-size: 18px;
  transition: 0.2s;
}

ul li:nth-child(odd) {
  background: #bbb;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: black;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: black;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #535353;
  color: black;
}

.header {
  background: url(images/prism.png);
  padding: 30px 40px;
  color: white;
  text-align: center;
}
.h2_header{
  font-size: 34px;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}


.btn1 {
  padding: 10px;
  width: 25%;
  background: #bbb;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #eee;
}